* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    height: 300px;
    margin-right: 10px; /* Ajuste para margin-right em vez de right */
}

button {
    color: rgb(17, 17, 16);
    background-color: #c51111;
    border-radius: 3px;
    border: none;
    width: 200px;
    height: 50px;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: bold;
}

.marioluigi {
    height: 250px;
}

body {
    height: 100vh;
}

.caixa-principal {
    width: 40%;
}

.caixa-video {
    width: 100vw;
    position: fixed;
    top: 0;
    z-index: -1;
}

.caixa-mae {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 5%;
    
    
}

.link-whatsapp img {
    height: 60px;
    position: fixed;
    right: 20px;
    bottom: 20px;
}

.header {
    display: flex;
    align-items: center;
    gap: 30px;
    margin: 30px;
}

.header img {
    height: 60px;
}

.header a {
    color: white;
    font-size: 24px;
    cursor: pointer;
}

.header a:hover {
    color: #c51111;
    font-size: 40px;
    transition: 1s color ease-in-out;
}

.fale-conosco {
    background-color: white;
    display: flex;
    flex-direction: column-reverse;
    position: fixed;
    top: 250px;
    left: 900px;
    padding: 20px;
    border-radius: 5px;
}

input, textarea {
    height: 40px;
    border-radius: 5px;
    border: 1px solid gray;
    padding-left: 5px;
    outline-color: #18d80f;
}

textarea {
    width: 270px;
    height: 100px;
}
